body {
  background: black;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  background-image: url("backg.jpg");
  background-size: 100%; }

.wf-roundedmplus1c {
  font-family: "Rounded Mplus 1c"; }

#main {
  padding: 1vw;
  color: black;
  font-size: 2vw;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto; }
  @media (min-width: 700px) and (max-width: 1020px) {
    #main {
      font-size: 3vw; } }
  @media (max-width: 700px) {
    #main {
      font-size: 4vw; } }
  #main h1 {
    font-size: 6vw; }
    @media (min-width: 700px) and (max-width: 1020px) {
      #main h1 {
        height: 7vw; } }
    @media (max-width: 700px) {
      #main h1 {
        height: 8vw; } }
  #main #input_area #input_text {
    width: 100%;
    height: 8vw; }
    @media (min-width: 700px) and (max-width: 1020px) {
      #main #input_area #input_text {
        height: 20vw; } }
    @media (max-width: 700px) {
      #main #input_area #input_text {
        height: 30vw; } }
  #main #convert_area #caeser_input {
    display: none; }
  #main #convert_area #vigenere_input {
    display: none; }
  #main #convert_area .play {
    font-size: 100%;
    width: 30%;
    height: 70%; }
    @media (min-width: 700px) and (max-width: 1020px) {
      #main #convert_area .play {
        font-size: 100%; } }
    @media (max-width: 700px) {
      #main #convert_area .play {
        font-size: 100%;
        width: 50%;
        height: 50%; } }
  #main #output_area #output_text {
    width: 100%;
    height: 8vw; }
    @media (min-width: 700px) and (max-width: 1020px) {
      #main #output_area #output_text {
        height: 20vw; } }
    @media (max-width: 700px) {
      #main #output_area #output_text {
        height: 30vw; } }
  #main #commentary_area {
    overflow: hidden;
    text-align: left;
    font-size: 1.5vw; }
    @media (min-width: 700px) and (max-width: 1020px) {
      #main #commentary_area {
        font-size: 3vw; } }
    @media (max-width: 700px) {
      #main #commentary_area {
        font-size: 4vw; } }
    #main #commentary_area #commentary_table {
      table-layout: fixed;
      text-align: center; }
      #main #commentary_area #commentary_table .ct {
        font-size: 1vw; }
        @media (min-width: 700px) and (max-width: 1020px) {
          #main #commentary_area #commentary_table .ct {
            font-size: 2vw; } }
        @media (max-width: 700px) {
          #main #commentary_area #commentary_table .ct {
            font-size: 3vw; } }
      #main #commentary_area #commentary_table .checkColumn {
        background-color: red; }
      #main #commentary_area #commentary_table caption {
        color: black;
        padding-left: 1vw; }

/*# sourceMappingURL=style.css.map */
