body {
  position: absolute;
  display: inline-block;
  text-align: center;
  background-color: #00BCD4;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rounded Mplus 1c"; }
  body #header {
    display: inline-block;
    margin: 0;
    background-color: #00BCD4;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    z-index: 2; }
    body #header li {
      list-style: none; }
  body #footer {
    display: inline-block;
    margin: 0;
    background-color: #00BCD4;
    width: 100%;
    height: 80px;
    z-index: 2; }
  body #photo_area {
    display: inline-block;
    background-image: url("img/kilimanjaro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 -100px;
    background-size: 100% 100%;
    width: 100%;
    height: 350px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); }
    body #photo_area #title {
      display: block;
      position: relative;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
      background-color: rgba(255, 255, 255, 0.4);
      left: 100px;
      top: 30px;
      height: 250px;
      width: 600px;
      text-align: left;
      border-radius: 15px; }
      body #photo_area #title h1 {
        font-size: 40px;
        padding-top: 20px; }
      body #photo_area #title img {
        padding: 25px;
        height: 150px;
        width: 150px;
        border-radius: 15px; }
    @media (min-width: 700px) and (max-width: 1020px) {
      body #photo_area #title {
        left: 50px;
        height: 250px;
        width: 500px; }
        body #photo_area #title h1 {
          font-size: 25px;
          padding: 25px; }
        body #photo_area #title p {
          font-size: 18px; }
        body #photo_area #title img {
          padding: 25px;
          height: 150px;
          width: 150px; } }
    @media (max-width: 700px) {
      body #photo_area #title {
        left: 20px;
        height: 200px;
        width: 350px; }
        body #photo_area #title h1 {
          font-size: 20px;
          padding: 20px; }
        body #photo_area #title p {
          font-size: 15px; }
        body #photo_area #title img {
          padding: 10px;
          height: 80px;
          width: 80px; } }
  body #shadow_receiver {
    background-color: #F5F5F5;
    height: 15px;
    width: 100%; }
  body #main {
    display: inline-block;
    margin: 0;
    width: 100%;
    background-color: #F5F5F5;
    z-index: 1; }
    body #main ul {
      padding: 0;
      overflow: hidden;
      list-style: none; }
      body #main ul .select_panel {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        width: 350px;
        height: 300px;
        margin: 40px;
        border-radius: 15px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
        background-color: white;
        color: black;
        z-index: 2;
        font-size: 22px;
        padding: 20px; }
        @media (min-width: 700px) and (max-width: 1020px) {
          body #main ul .select_panel {
            width: 300px;
            height: 200px;
            margin: 20px;
            font-size: 18px; } }
        @media (max-width: 700px) {
          body #main ul .select_panel {
            width: 250px;
            height: 200px;
            margin: 10px;
            font-size: 14px; } }
        body #main ul .select_panel img {
          display: block;
          margin: 4px;
          width: 150px;
          height: 150px;
          border-radius: 15px; }
          @media (min-width: 700px) and (max-width: 1020px) {
            body #main ul .select_panel img {
              width: 100px;
              height: 100px; } }
          @media (max-width: 700px) {
            body #main ul .select_panel img {
              width: 80px;
              height: 80px; } }
        body #main ul .select_panel h3 {
          font-size: 30px;
          height: 30%;
          padding: 4px;
          margin: 0;
          vertical-align: middle; }
          @media (min-width: 700px) and (max-width: 1020px) {
            body #main ul .select_panel h3 {
              font-size: 20px; } }
          @media (max-width: 700px) {
            body #main ul .select_panel h3 {
              font-size: 20px; } }
      body #main ul .select_panel:hover {
        opacity: 0.5; }
      body #main ul .trans_select_panel {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        width: 350px;
        height: 300px;
        margin: 40px;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
        background-color: white;
        color: black;
        opacity: 0;
        animation: anime1 1s ease; }
@keyframes anime1 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
        @media (min-width: 700px) and (max-width: 1020px) {
          body #main ul .trans_select_panel {
            width: 300px;
            height: 200px;
            margin: 20px;
            font-size: 18px; } }
        @media (max-width: 700px) {
          body #main ul .trans_select_panel {
            width: 250px;
            height: 200px;
            margin: 10px;
            font-size: 14px; } }
        body #main ul .trans_select_panel img {
          display: block;
          margin: 4px;
          width: 40%;
          height: 40%; }
        body #main ul .trans_select_panel h3 {
          font-size: 30px;
          padding: 4px;
          margin: 0; }
          @media (min-width: 700px) and (max-width: 1020px) {
            body #main ul .trans_select_panel h3 {
              font-size: 20px; } }
          @media (max-width: 700px) {
            body #main ul .trans_select_panel h3 {
              font-size: 20px; } }
    body #main #detail_area #detail_panel {
      position: absolute;
      top: 420px;
      left: 2%;
      display: block;
      height: 60%;
      width: 95%;
      border-radius: 15px;
      background-color: white;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.6);
      z-index: 3;
      font-size: 25px;
      text-align: left;
      overflow: scroll; }
      body #main #detail_area #detail_panel img {
        border-radius: 15px;
        display: block;
        margin: 20px;
        height: 500px;
        width: 500px; }
      @media (min-width: 700px) and (max-width: 1020px) {
        body #main #detail_area #detail_panel {
          font-size: 20px; }
          body #main #detail_area #detail_panel img {
            margin: 10px;
            height: 450px;
            width: 450px; } }
      @media (max-width: 700px) {
        body #main #detail_area #detail_panel {
          font-size: 10px; }
          body #main #detail_area #detail_panel img {
            vertical-align: bottom;
            margin: 5px;
            height: 250px;
            width: 250px; } }

/*# sourceMappingURL=style.css.map */
