html,body{
  overflow: hidden;
  background-color: black;
}

span {
	padding: 0;
	margin: 0;
}

#current-char-area {
	width: 100px;
	height: 100px;
	font-size: 70px;
}

#graphic-area {
	display:block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 0;
}

/*プレイヤーと仲間*/
.players-div{
	display: block;
	position: absolute;
	width: 200px;
	height: 100px;
	z-index: 2;
}

/* 背景 */
#background-area {
	display: block;
	width: 100%;
	height: 100%;
	overflow: visible;
}
.background-img {
	display: block;
	width: 100%;
}

.gameover-area {
	background-color: "black";
	color: "red";
	font-size: "100px";
	text-align: "center";

	z-index: 3;
}

.sentence-window {
	display: block;
	position: absolute;
	width: 200px;
	height: 100px;
	z-index: 2;
}

.enemy-div{
	display: block;
	position: absolute;
	width: 200px;
	height: 100px;

	font-size: 20px;
	
	z-index: 1;
}
.enemy-div .aim {
	display: block;
	position: absolute;
	width: 200px;
	height: 100px;
	z-index: 2;
}

.refreshable {
	display: block;
	position: relative;

	background-color:black;
	color:white;
	border: 2px white solid;

	z-index: 2;
}

.refreshable #input-animation-area {
	display: inline;
	font-size: 0;
	list-style: none;
	text-align: center;
}
.refreshable #input-animation-area .outputs{
	display: inline;
	font-size:40px;
	z-index: 2;
}
.refreshable #input-animation-area #done-input{
	color: #4b9153;
}
.refreshable #input-animation-area #not-done-input{
	color: white;
}


.wound {
	animation:expand 0.3s 1 linear;
}
.bullet {
	display: block;
	position: absolute;
	width: 200px;
	height: 200px;
	z-index: 0;
}
@keyframes expand {
     
    from{
/*        -ms-transform:scale(1,1);
        -webkit-transform:scale(1,1);*/
        transform:scale(0.5, 0.5);
    }
    to{
/*        -ms-transform:scale(1.2,1.2);
        -webkit-transform:scale(1.2,1.2);*/
        transform:scale(1.8, 1.8);
    }
}